body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, white, rgb(199, 199, 199),rgb(199, 199, 199), rgb(199, 199, 199) ,white ) ;
}



/*************** Book Cards ******************/
#bookName {
    display: flex;       
    flex-wrap:wrap;    
    gap: 20px;
    margin: 0px;           
    padding: 0px; 
    justify-content: center; 
    
}

/* .card {
  flex: 1 1 calc(25% - 20px); 
    max-width: 100px; 
    transition: 0.3s;
    padding-top: 15px;
} */

/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
} */

.container {
    width: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    margin: 20px;
    padding: 10px;
}
.container:hover{
  box-shadow: 0 16px 16px 15px rgba(255, 255, 255, 0.2);
  border-radius: 5px; 
}

/* for book cover image*/
.book-cover {
  max-width: 150px;
  height: auto;
  border-radius: 6px;
}

.bookInfo h4,
.bookInfo p {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
    margin: 8px;
    padding: 0;
}
.price{
  color:rgb(255, 0, 119);
}

.printingDisplay{
  padding-left:15%;
  padding-right:15%;
  
}

/************ Search bar on home page *****************/
.mySearchBar{
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 25px;
  
  font-size:initial;
}

/************* title on each page ***********/

.title{
  margin-left:20%;
  margin-right:20%;
 
}


/************** footers on each page ************/

footer{
  margin-top: 30px;
  border-top: 1px solid rgb(155, 155, 155);
}

.endOfPage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left:30%;
  margin-right:30%;
  
}
/************* Nav Bar ****************/
/* .NavBar{
    border-bottom: 1px solid black;
}
.currentPage{
  color: black;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: x-large;
}
ul li {
  float: right;
}
ul li:first-child{
    float: left;
}
ul li:nth-child(2){
  float:left;
  margin-top:14px;
}

ul li a {
  display: block;
  color: rgb(136, 136, 136);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

Left here for future Changes...
ul li a:hover {
  color:black;
} */

/* 

********* When the screen is less than 600 pixels wide, hide all links ***********

@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom:1px solid black;
}

.topnav a {
  float: right;
  display: block;
  color: #6d6d6d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:first-child{
    float: left;
}
.topnav a:nth-child(2){
  float:left;
}
.topnav a:hover {
  color: black;
}

.topnav a.active {
  /* background-color: #ffffff; */
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 671px) {
  .topnav a:not(:first-child):not(:nth-child(2)) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block I !important;
  }
}

@media screen and (max-width: 671px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}