body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#FAF3E5,#FAF3E5);
}
/************* Nav Bar ****************/

/* .topnavSidePage {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom:1px solid black;
}
.topnavSidePage a {
  float: right;
  display: block;
  color: #6d6d6d;
  text-align: center;
  padding: 1.1rem .9rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.topnavSidePage a:first-child{
    float: left;
}

.topnav a:hover {
  color: black;
}

.topnavSidePage a.active {
  color: rgb(0, 0, 0);
}
.topnavSidePage .icon {
  display: none;
}

@media screen and (max-width: 671px) {
  .topnavSidePage a:not(:first-child) {
    display: none;
  }
  .topnavSidePage a.icon {
    float: right;
    display: block !important;
  }
  .topnavSidePage.responsive {position: relative;}
  .topnavSidePage.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnavSidePage.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
 .mySearchBar {
    width: 150px;  
    max-width: 80%;  
  }
} */

/*********** Nav bar for not home page *********/

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom:1px solid black;
}
.topnav a {
  float: right;
  display: block;
  color: #6d6d6d;
  text-align: center;
  padding: 1.1rem .9rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.topnav a:first-child{
    float: left;
}
.topnav a:nth-child(2){
  float:left;
}
.topnav a:hover {
  color: black;
}

.topnav a.active {
  color: rgb(0, 0, 0);
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 671px) {
  .topnav a:not(:first-child) { 
    display: none; 
  }

  .topnav a::not(.icon) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding-top: 5px;
    border-bottom: 1px solid black;
    text-align: center;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display:block;
    text-align: center;
  }
}

/************ Search bar on home page *****************/
.mySearchBar{
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 1.4rem auto;
  font-size:initial;
  margin-top: 18px;
  width: 30%;
  max-width: 200px;
}

/************* title on each page ***********/

.title{
  margin-left:12%;
  margin-right:20%;
  font-size:2rem;
}
/*************** Book Cards ******************/
#bookName {
    display: flex;       
    flex-wrap:wrap;    
    gap: 0px;
    justify-content: space-around;
     /* width: 25%;  */
     /* background-color: rgb(10, 255, 2); */
}
.container {
    max-width: 20%; 
    min-width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: .5rem;
    cursor: pointer;
    font-weight:500;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}
.container:hover{
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

/* for book cover image*/
.book-cover {
  max-width: 200px;
  width:100%;
  min-width: 90px;
  height: auto;
  border-radius: .5rem;
  background-color: blue;
}

.bookInfo h4 {
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* min 1rem, ideal 2.5% of viewport width, max 1.5rem */
    text-align: center;
    margin: 0.3rem 0;
}

.bookInfo p {
    font-size: clamp(0.8rem, 2vw, 1.2rem); /* min 0.8rem, ideal 2% of viewport width, max 1.2rem */
    text-align: center;
    margin: 0.2rem 0;
}
.printingDisplay{
  padding-left:10%;
  padding-right:10%;
  /* background-color: rgb(255, 0, 0); */ 
}

/************** footers on each page ************/
/* 
footer{
  margin-top: 30px;
  border-top: 1px solid rgb(155, 155, 155);
}

.endOfPage{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left:30%;
  margin-right:30%;
  
} */

/******* Individual Book page *********/

.bookContainer {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 20%;
    margin-top: 20px;
}

.bookContainer img.individualbook-cover {
    width: 220px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 14px 25px rgba(0,0,0,0.15);
}

.bookTitle {
    margin: 0;
    font-size: 2rem;
}

.bookContainer p {
    margin: 6px 0;
    font-size: 1.1rem;
}

.price {
    color: #e6007e;
    font-weight: bold;
    font-size: 1.3rem;
}
.spliter{
  width:70%;
  padding-left: 17%;
}
.addToCartButton{
  appearance: button;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  cursor: pointer;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
  padding: 1rem 1.5rem;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.addToCartButton:hover {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.addToCartButton:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}


/************ Divider ************/

.bookDescription {
    padding: 0 20%;
    font-size: 1.1rem;
    line-height: 1.6;
}

/************** Mobile Layout **************/

@media screen and (max-width: 671px) {
    .bookContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bookContainer img.book-cover {
        width: 60%;
        max-width: 250px;
    }

    .bookDescription {
        padding: 10px 5%;
    }
}


/********* shopping cart styles **********/