/* Nav Bar */
.NavBar{
    border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul li {
  float: right;
}
ul li:first-child{
    float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Left here for future Changes... */
ul li a:hover {
}


/* Book Cards */
#bookName {
    display: flex;       
    flex-wrap: wrap;    
    gap: 20px;           
    padding: 200px;       
    justify-content: center; 
}

.card {
    width: 200px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    width: 100%; 
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}