<div class="topnav" id="myTopnav">
    <a href="../pages/index.html" class="active">Project Two</a>
    
    <input type="search" class="mySearchBar" placeholder="Search..." 
    id="searching" oninput="searchForBooks()" autocomplete="off">
    
    <a href="../pages/cart.html">Cart</a>
    <a href="../pages/newsletter.html">News Letter</a>
    <a href="../pages/christmas.html">Christmas</a>
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
</div> 