<div class="article-card2">
        <div class="article-info">
            <div class="smallreportTopOfCard">
                <p id="newsTopic">${item.general_topic}</p>
                <p id="readLength">${item.read_time}</p>
                <p id="newsDate">${item.date}</p>
            </div>
            <div class="smallreportCenterOfCard">
                <image class="article-image" id="newImage" src="${item.image_link}"></image>
                <p id="newsTitle">${item.title}</p>
                <p id="newsDescription">${item.description}</p>
            </div>
            <div class="smallreportBottomOfCard">
                <p id="newsWriter">${item.writer}</p>
                
            </div>
        </div>
</div>
 