
/****** This is the container that holds the form and cart *****/
.shoppingCartCheckoutPlusActiveCart{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.checkoutForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid black;
  border-radius: .5rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  width: 100%;
  transition: all 2s;
}
.basicInfoNames{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  transition: all 2s;
}

.basicInfoNames input{
  width: 135%;
  transition: all 2s;
}

.basicInfoEmail input{
    width: 42.5%;
  transition: all 2s;
}
.checkoutForm input{
  background-color: lightgray;
  padding: .3rem;
  padding-left: .6rem;
  border-radius: .4rem;
  
  }
.basicInfoNames input::placeholder{
 color:rgb(125, 125, 125);
 
}
.checkoutBasicInfo{
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.checkoutPaymentInformation{
  display: flex;
  flex-direction: column;  
}
.checkoutPaymentInformationInputs{
  display: flex;
  flex-direction: row;  
  gap:1rem;
  transition: all 2s;
}

@media screen and (max-width: 671px) {

  .basicInfoNames{
  display: flex;
  flex-direction: column;
   gap: 1rem;
  }
  .basicInfoNames input{
  width: 80%
}
.basicInfoEmail input{
    width: 80%;
}

.checkoutPaymentInformationInputs{
  display: flex;
  flex-direction: column;
}
.creditCardNumberInput{
  width:80%;
}
.checkoutCreditCardExpiryDate{
width:40%;
}
.checkoutCreditCVC{
  width:15%;
}
}


/**** Cart stylings*****/

.Cart{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 20.7rem;
  border-radius: .5rem;
  background-color: rgb(245, 245, 245);
  width: 10rem;
  padding: 1rem;
}